body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
/* Style for TestResult tag */
TestResult {
    display: block;
    margin-bottom: 40px;
    /* Add any other styles as needed */
}

TemplateNameDocument,
ProjectTemplate,
VersionDocument,
Testsuitename {
    display: block;
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
}

Tests {
    color: navy;
    display: block;
    margin-bottom: 20px;
}

TestrunNumber,
Testname,
Testmachine,
Testenvironment,
Testexcuter,
Operatingsystem {
    color: blue;
    display: block;
    margin-bottom: 20px;
    font-size: 2em;
}
/* Style for TestRun tag */
TestRun {
    display: block;
    margin-bottom: 20px;
    /* Add any other styles as needed */
}

/* Style for TestCaseId tag */
TestCaseId {
    font-weight: bold;
    /* Add any other styles as needed */
}

/* Style for TestResult tag */
TestResult {
    font-weight: bold;
    color: green; /* You can change color based on test result */
    /* Add any other styles as needed */
}

    /* Style for failed TestResult tag */
    TestResult:contains("Failed") {
        color: red; /* Change color for failed tests */
    }

/* Style for TestLogLine tag */
TestLogLine {
    color: green;
    display: block;
    margin-bottom: 12px;
    /* Add any other styles as needed */
}

/* Style for Logtimestamp tag */
Logtimestamp {
    font-style: italic;
    /* Add any other styles as needed */
}

/* Style for LogLineDescription tag */
LoglineDescription {
    margin-left: 0.3in;
    font-style: italic;
    /* Add any styles as needed */
}
/* Style for tabs */
.tab {
    display: none;
}

.tab-label {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    display: inline-block;
}

    .tab-label.active {
        background-color: #fff;
        border-bottom: 1px solid #fff;
    }

.tab-content {
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    background-color: #fff;
}