body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

p,
TemplateNameDocument,
ProjectTemplate,
VersionDocument,
Testsuitename {
   /* color: navy;*/
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
}

/* Style for TestRun tag */
TestRun {
    color: navy;
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
}

/* Style for Testrun tag */
TestrunNumber,
Testname,
Testmachine,
Testenvironment,
Testexcuter,
Operatingsystem {
    color: blue;
    display: block;
    margin-bottom: 20px;
    font-size: 1em;
}

Tests {
    color: navy;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    background-color: #fff;
}

/* Style for Tests tag */
TestCaseId,
TestCaseName,
TestCategory,
TestResult,
StartDateTime,
StopDateTime,
Duration,
TestLogLine {
    font-weight: bold;
    color: green;
    display: block;
    margin-bottom: 12px;
}

    /* Style for failed TestResult tag */
    TestResult:contains("Failed") {
        color: red; /* Change color for failed tests */
    }

/* Style for Logtimestamp tag */
Logtimestamp, LoglineDescription {
    font-style: italic;
    margin-left: 0.3in;
    font-style: italic;
}
/* Style for tabs */
.tab {
    display: none;
}

.tab-label {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    display: inline-block;
}

    .tab-label.active {
        background-color: #fff;
        border-bottom: 1px solid #fff;
    }

.tab-content {
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    background-color: #fff;
}
/* Style for the toggle button */
.toggle-btn {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
}
/* Style to hide the list items by default */
.collapsed {
    display: none;
}
/* Style for the header */
header {
    height: 2%;
    width: 100%;
    background-color: #000080;
    color: white;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    font-size: 2em;
}
/* Style for the left frame */
.left-frame {
    height: 98%;
    width: 5%;
    background-color: #001f3f;
    color: white;
    float: left;
}

/* Style for the right frame */
.right-frame {
    height: 98%;
    width: 95%;
    background-color: #00022e;
    color: white;
    float: right;
}

/* Clear the floats to prevent layout issues */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Style for columns */
.container {
    width: 100%;
    /*max-width: 1200px;*/ /* Set a maximum width for the container */
    /*margin: 0 auto;*/ /* Center the container */
    /*display: flex;*/ /* Use flexbox for columns */
}
/* Colors for an navy style page
    Navy: #000080
    Dark Navy Blue: #00022e
    Navy Blue: #001f3f
    Medium Navy Blue: #0066cc
    Deep Navy Blue: #000080
    Rich Navy Blue: #001f54
    Royal Navy Blue: #4c516d
    Light Navy Blue: #6e7b8b
    Slate Navy Blue: #6a5acd
    Midnight Navy Blue: #191970
*/